html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  color: $font-color-primary;
  font-size: $font-size-base;
  background: $color-backdrop;
  font-weight: $font-weight-primary;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .app_header {
    height: $unify-header;
    line-height: $unify-header;
    background: $color-white;
    border-bottom: $unify-line;
  }

  .container_body {
    flex: 1;
    height: 0;
    display: flex;
    flex-direction: row;

    .app_aside {
      height: 100%;
      width: $unify-aside;
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      background: $color-white;
      border-right: $unify-line;
    }
  
  
    .container_init {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: $color-white;
    }

    .app_main {
      flex: 1;
      padding: $unify-interval;
      background: url('../image/icon.png') no-repeat 50% 50%;
      background-size:  auto 60%;
    }
    
    .app_side {
      width: $unify-side;
      overflow-y: auto;
      padding: $unify-interval;
      background: $color-white;
      border-left: $unify-line;
      height: calc(100% - $unify-interval*2);
    }
  }

  .app_footer {
    height: 40px;
    line-height: 40px;
    padding: $unify-interval;
    background: $color-white;
    border-top: $unify-line;
  }
}